repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: "__snapshots__/"

  - repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
      - id: black
        args:
          - "--line-length=240"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.1
    hooks:
      - id: ruff
        args:
          - "--line-length=240"

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args:
          - "--line-length=240"
          - "--profile=black"
          - "--src=src"

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        types_or: [python, markdown]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: migrations/|commands/|scripts/
        args:
          [
            --pretty,
            --show-error-codes,
            --implicit-optional,
            --follow-imports=silent,
            --warn-redundant-casts,
            --warn-unused-ignores,
            --disallow-any-generics,
            --check-untyped-defs,
            --no-implicit-reexport,
            --disallow-untyped-defs,
          ]
